.movieDetails {
    display: flex;
    gap: 40px;
    padding: 60px;
    color: white;
    background: black;
}

.movieDetails__left {
    position: relative;
}

.movieDetails__left img {
    width: 320px;
    border-radius: 10px;
}

.playButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: red;
    border: none;
    color: white;
    font-size: 30px;
    padding: 14px 20px;
    border-radius: 50%;
    cursor: pointer;
}

.movieDetails__right h1 {
    font-size: 36px;
}

.movieMeta {
    display: flex;
    gap: 20px;
    opacity: 0.8;
    margin: 10px 0;
}

.tabs {
    display: flex;
    gap: 20px;
    margin: 25px 0;
}

.tabs span {
    cursor: pointer;
    opacity: 0.6;
}

.tabs .active {
    opacity: 1;
    border-bottom: 2px solid red;
}

.overview {
    max-width: 600px;
    line-height: 1.6;
}
.movieExtra {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 14px;
    opacity: 0.9;
}

.movieExtra p {
    margin: 6px 0;
}

.movieExtra strong {
    color: #bbb;
}